@page
@model BankWebApp.Pages.Transactions.DepositModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" />
        <span class="field-validation-error" asp-validation-for="Amount"></span>
    </div>

    <button class="btn btn-success"type="submit">Deposit</button>
</form>
