@using BankWebApp.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" asp-page="../Index">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-page="/Transactions/Transactions">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Transactions</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Customers/CustomersIndex">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">All Customers</span>
            </a>
        </li>
        <!-- TODO Hide from non admins -->
        
        @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/Users/Index">
                    <i class="mdi mdi-grid-large menu-icon"></i>
                    <span class="menu-title">All Users</span>
                </a>
            </li>
        }
        

        <li class="nav-item nav-category">Customer operation</li>

        @*<li class="nav-item nav-category">Menu</li>*@
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Customers</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-page="/Customers/New">New Customer</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-page="/Customers/CustomersIndex">Edit Customer</a></li>
                </ul>
            </div>
        </li>

        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item d-lg-none d-md-block">
                <a id="manage" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
            </li>
            <li class="nav-item d-lg-none d-md-block">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="btn btn-warning">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item d-lg-none d-md-block">
                <a class="btn btn-success login-btn" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }

        @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
        {
          <li class="nav-item nav-category">Users</li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="menu-icon mdi mdi-account-circle-outline"></i>
                    <span class="menu-title">User Actions</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register"> Register </a></li>
                        @*<li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>*@
                    </ul>
                </div>
            </li>  
        }
        

        

        
        
    </ul>
</nav>